services:
  backend:
    build: ./backend
    container_name: sorting-backend
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: sorting-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend